
.logo embed
{
    background-image: url(title_doc_zone.jpg) no-repeat;
    background-size: 100% auto;
    margin: auto;
}

/*
 * #63B5FF  $MAIN
 * #6796BF
 * #2067A6
 * #8AC8FF
 * #A9D6FF
 */

.body
{
}


