
.row-container [class*="span"]
{
    float: left;
    width: 100%;
    min-height: 30px;
    margin-left: 2.12765957446808%;
    border: 1px solid black;
    box-sizing: border-box;
}

.row-container [class*="span"]:first-child
{
    margin-left: 0px;
}

.row-container .span1 { width: 6.382978723404255%; }
.row-container .span2 { width: 14.893617021276595%; }
.row-container .span3 { width: 23.404255319148938%; }
.row-container .span4 { width: 31.914893617021278%; }
.row-container .span5 { width: 40.42553191489362%; }
.row-container .span6 { width: 48.93617021276596%; }
.row-container .span7 { width: 57.4468085106383%; }
.row-container .span8 { width: 65.95744680851064%; }
.row-container .span9 { width: 74.46808510638297%; }
.row-container .span10 { width: 82.97872340425532%; }
.row-container .span11 { width: 91.48936170212765%; }
.row-container .span12 { width: 100.0%; }

