
.container_12
{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.container_12 [class*=grid_]
{
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.container_12 .grid_1
{
    width: 60px;
}

.container_12 .grid_2
{
    width: 140px;
}

.container_12 .grid_3
{
    width: 220px;
}

.container_12 .grid_4
{
    width: 300px;
}

.container_12 .grid_5
{
    width: 380px;
}

.container_12 .grid_6
{
    width: 460px;
}

.container_12 .grid_7
{
    width: 540px;
}

.container_12 .grid_8
{
    width: 620px;
}

.container_12 .grid_9
{
    width: 700px;
}

.container_12 .grid_10
{
    width: 780px;
}

.container_12 .grid_11
{
    width: 860px;
}

.container_12 .grid_12
{
    width: 940px;
}


